@{
    ViewData["Title"] = "Home Page";
}

<!--
<header class="d-flex justify-content-between mb-4 border-bottom pb-2">
    <h2 id="page-title">Dashboard</h2>
    <div class="user-info">
        <span class="badge bg-secondary">Role: Purchasing Officer</span>
    </div>
</header>
-->
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3">Dashboard</h1>
        <div class="text-end">
            <span class="badge bg-primary p-2">Role: Purchasing Officer</span>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
