<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-success text-white">Delivery Inspection (PO #8892)</div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Status</label>
                    <select class="form-select border-danger">
                        <option>Accepted</option>
                        <option>Non-Compliant (Issue IR)</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <label>Supplier Performance (1-5 Stars)</label>
                    <div class="h3 text-warning">
                        <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <textarea class="form-control mb-3" placeholder="Inspection Remarks..."></textarea>
            <button class="btn btn-success">Post Receiving Report (RR)</button>
        </div>
    </div>
</div>